<nz-layout class="layout"  >
  <nz-header>
    <div class="logo"
         [style.background]="'url(assets/img/dart_icons2.png)'"></div>
    <div class="logo-text">Let's Play Darts!</div>
    <!--    <ul nz-menu nzTheme="dark" nzMode="horizontal">-->
    <!--      <li nz-menu-item>nav 1</li>-->
    <!--    </ul>-->
  </nz-header>
  <nz-content>
    <!--    <nz-breadcrumb>-->
    <!--      <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
    <!--      <nz-breadcrumb-item>List</nz-breadcrumb-item>-->
    <!--      <nz-breadcrumb-item>App</nz-breadcrumb-item>-->
    <!--    </nz-breadcrumb>-->
    <div class="inner-content" >

<!--      <div style="clear: both; height: 7px;"></div>-->
      <div nz-row nzAlign="bottom" nzType="flex">
        <div nz-col [nzXs]="{ span: 0 }" [nzSm]="6" [nzMd]="{ span: 6 }" ></div>
        <div nz-col [nzXs]="{ span: 16 }" [nzSm]="8" [nzMd]="{ span: 8 }" >
          # of Players
          <nz-select [(ngModel)]="numPlayersValue" (ngModelChange)="changeNumPlayers()" nzAllowClear nzPlaceHolder="Choose Number of Players">
            <nz-option nzValue="1" nzLabel="1" ></nz-option>
            <nz-option nzValue="2" nzLabel="2"></nz-option>
            <nz-option nzValue="3" nzLabel="3"></nz-option>
            <nz-option nzValue="4" nzLabel="4"></nz-option>
          </nz-select>
        </div>
        <div nz-col [nzXs]="{ span: 4 }" [nzSm]="4" [nzMd]="{ span: 4 }" >
          <button nz-button nzType="danger" (click)="startGame()">New Game</button>
        </div>
      </div>
      <div style="clear: both; height: 10px;"></div>

      <ng-container *ngIf="gameStarted">
        <nz-table #basicTable [nzData]="scores2" [nzShowPagination]="false">
          <thead>
          <tr>
            <th [style.width]="'25%'">Round</th>
            <th *ngFor="let playerNum of playersIndex">
              Player {{ playerNum + 1 }}
            </th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let round of objectKeys(scores);">
              <tr *ngFor="let dartNum of objectKeys(scores[round]);">
                <td><span *ngIf="dartNum == 0" >Round {{ makeInt(round) + 1 }}</span></td>
                <ng-container *ngFor="let row of scores[round][dartNum]; let i = index" >
                  <ng-container *ngFor="let key of objectKeys(row)">
                    <td [className]="(bustedScores[round][dartNum][i][key]) ? 'busted_cell' : ''">
                      {{ row[key] }}
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-container>
            <ng-container *ngIf="gameEnded == false" >
              <ng-container *ngFor="let dart of numDarts">
                <tr >
                  <td >
                    <span *ngIf="dart == 0">Round {{ numRounds + 1 }}</span>
                  </td>
                  <td *ngFor="let playerNum of playersIndex">
<!--                    [style.background-color]="(dartFocus[dart][playerNum] == 1 ? scoreText.focus() : '')"-->
                    <nz-input-number
                        #scoreText

                        [attr.placeholder]="'Next Player ' + (playerNum + 1) + ' Score'"
                        [(ngModel)]="nextScores[dart][playerNum]"
                        (keydown.enter)="nextDart(dart, playerNum, $event)"
                        (keydown.shift.enter)="nextDart(dart, playerNum, $event)"></nz-input-number>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </nz-table>
        <div style="clear: both; height: 10px"></div>

        <button nz-button nzType="primary" (click)="markPlayerScores()">Next Round</button>&nbsp;
<!--        <button nz-button nzType="default" (click)="previousDart()"><i nz-icon nzType="undo" nzTheme="outline"></i></button>-->

        <div style="clear: both; height: 15px"></div>

        <nz-table #totalsTable [nzData]="scoreTotals" [nzShowPagination]="false">
          <thead>
          <tr *ngIf="scoreTotals && scoreTotals.length > 0">
            <th *ngFor="let key of objectKeys(scoreTotals[0]); let i = index" [style.width]="(i == 0) ? '16%' : ''">{{ key }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of scoreTotals;">
            <td *ngFor="let key of objectKeys(row)">
              {{ row[key] }}
            </td>
          </tr>
          </tbody>
        </nz-table>
      </ng-container>

      <nz-modal [(nzVisible)]="isVisible" nzTitle="You Won the Game" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        Player {{ currentWinner }} has won the game!
      </nz-modal>

      <nz-modal [(nzVisible)]="bustIsVisible"
                nzTitle="You Busted"
                (nzOnCancel)="handleBustCancel()"
                (nzOnOk)="handleBustOk()">
        Player {{ currentBuster }} has busted! His score goes back to zero.
      </nz-modal>

    </div>
  </nz-content>

</nz-layout>
